.container{
    padding: 0px 80px;
    text-align: justify;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: lightgray;
}

.header-h1{
	text-align: center;
	margin-bottom: 0px;
}

.header-a{
	text-decoration: none;
	color: red;
}

.header-a:hover{
	color: #ff6600;
	text-decoration: underline;
}

.header-a:visited{
	color: green;
}

.header-a:visited:hover{
	color: #ff6600;
	text-decoration: underline;
}
.header-ul{
	list-style: none;
	text-align: center;
}

.header-li{
	display: inline-block;
	padding: 0px 10px;
	text-align: center;
}

nav{
	padding-bottom: 5px;
}

.form{
    text-align: center;
    display: block;
}
.form-button{
	padding: 10px;
	border: none;
	background-color: lightgray;
	color: black;
	cursor: pointer;
    margin-bottom: 10px;
}

form input,
form textarea {
    width: 30%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    text-align: center;
}

#message{
    resize: none;
    width: 30%;
    vertical-align: middle;
}

footer{
	text-align: center;
	padding: 20px;
	background-color: lightgray;
}
